<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index-style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Oswald&display=swap" rel="stylesheet">
    <title>Saneema</title>
</head>
<body>
    <header>
        <div class="left">
            <a href="#"><img src="./images/saneema website logo 1.png" alt="सनीमा"></a>
        </div>
        <div class="right">
            <a href="#"><h2 class="about">this is us.</h2></a>
            <a href="#"><h2 class="patrion">sugar daddies.</h2></a>
            <a href="#"><img src="./images/user 1.png" alt="LogIn/SignUp"></a>
        </div>
    </header>
    <main>
        <div class="film-card">
            <a href="#"><img class="thumbnail" src="./images/Saneema - E07 - Malcolm & Marie - Thumbnail (1) 1.png" alt="सनीमा - E07 Malcolm & Marie (2021)"></a>
            <a href="#"><h1>सनीमा</h1></a>
            <a href="#"><h2>E07 - Malcolm & Marie (2021)</h2></a>
            <p>Sam Levison explored crumbling relationships in great detail but failed at the craft.</p>
            <div class="like-comment-share">
                <div class="count">
                    <a href="#"><img src="./images/like 1.png" alt="Like"></a>
                    <h3>54</h3>
                </div>
                <div class="count">
                    <a href="#"><img src="./images/comment 1.png" alt="Comment"></a>
                    <h3>2</h3>
                </div>
                <button><img src="./images/share (1) 1.png" alt="Share"></button>
            </div>
        </div>
        <div class="film-card">
            <a href="#"><img class="thumbnail" src="./images/Close-Up Thumbnail 1.png" alt="सनीमा - E06 Close Up (1990)"></a>
            <a href="#"><h1>सनीमा</h1></a>
            <a href="#"><h2>E06 - Close Up (1990)</h2></a>
            <p>Abbas Kiarostami, back in 1990 made Snowden (2016) and Citizenfour (2014) into a single film.</p>
            <div class="like-comment-share">
                <div class="count">
                    <a href="#"><img src="./images/like 1.png" alt="Like"></a>
                    <h3>54</h3>
                </div>
                <div class="count">
                    <a href="#"><img src="./images/comment 1.png" alt="Comment"></a>
                    <h3>2</h3>
                </div>
                <button><img src="./images/share (1) 1.png" alt="Share"></button>
            </div>
        </div>
        <div class="film-card">
            <a href="#"><img class="thumbnail" src="./images/TYFS Thumbnail 1.png" alt="सनीमा - E05 Thank You For Smoking (2005)"></a>
            <a href="#"><h1>सनीमा</h1></a>
            <a href="#"><h2>E05 - Thank You For Smoking (2005)</h2></a>
            <p>Thank You For Smoking (2005) is a film which challenges the traditional structure of the protagonist of a story.</p>
            <div class="like-comment-share">
                <div class="count">
                    <a href="#"><img src="./images/like 1.png" alt="Like"></a>
                    <h3>54</h3>
                </div>
                <div class="count">
                    <a href="#"><img src="./images/comment 1.png" alt="Comment"></a>
                    <h3>2</h3>
                </div>
                <button><img src="./images/share (1) 1.png" alt="Share"></button>
            </div>
        </div>
        <div class="film-card">
            <a href="#"><img class="thumbnail" src="./images/Sparsh Thumbnail 1.png" alt="सनीमा - E04 Sparsh (1980)"></a>
            <a href="#"><h1>सनीमा</h1></a>
            <a href="#"><h2>E04 - Sparsh (1980)</h2></a>
            <p>Sai Paranjpye's Sparsh (1980) is not just unique in terms of exploring the world of a blind school but also in terms of weaving social commentary, child psychology, ego and self pity in a well structured love story which takes us through the life of a blind man in an unapologetic manner.</p>
            <div class="like-comment-share">
                <div class="count">
                    <a href="#"><img src="./images/like 1.png" alt="Like"></a>
                    <h3>54</h3>
                </div>
                <div class="count">
                    <a href="#"><img src="./images/comment 1.png" alt="Comment"></a>
                    <h3>2</h3>
                </div>
                <button><img src="./images/share (1) 1.png" alt="Share"></button>
            </div>
        </div>
        <div class="film-card">
            <a href="#"><img class="thumbnail" src="./images/FMJ - Thumbnail 2 1.png" alt="सनीमा - E03 Full Metal Jacket (2006)"></a>
            <a href="#"><h1>सनीमा</h1></a>
            <a href="#"><h2>E03 - Full Metal Jacket (2006)</h2></a>
            <p>Kubrick’s Full Metal Jacket (1983) is like a whistle blower of the armed forces around the world and on top of that it is from their own POV.</p>
            <div class="like-comment-share">
                <div class="count">
                    <a href="#"><img src="./images/like 1.png" alt="Like"></a>
                    <h3>54</h3>
                </div>
                <div class="count">
                    <a href="#"><img src="./images/comment 1.png" alt="Comment"></a>
                    <h3>2</h3>
                </div>
                <button><img src="./images/share (1) 1.png" alt="Share"></button>
            </div>
        </div>
        <div class="film-card">
            <a href="#"><img class="thumbnail" src="./images/Amelie Thumbnail-Story 1.png" alt="सनीमा - E02 Amelie (2001)"></a>
            <a href="#"><h1>सनीमा</h1></a>
            <a href="#"><h2>E02 - Amelie (2001)</h2></a>
            <p>Apart from many factors, the most basic one used to capture the audience's attention is pace.</p>
            <div class="like-comment-share">
                <div class="count">
                    <a href="#"><img src="./images/like 1.png" alt="Like"></a>
                    <h3>54</h3>
                </div>
                <div class="count">
                    <a href="#"><img src="./images/comment 1.png" alt="Comment"></a>
                    <h3>2</h3>
                </div>
                <button><img src="./images/share (1) 1.png" alt="Share"></button>
            </div>
        </div>
        <div class="film-card">
            <a href="#"><img class="thumbnail" src="./images/The Departed - Thumbnail 1.png" alt="सनीमा - E01 The Departed (2006)"></a>
            <a href="#"><h1>सनीमा</h1></a>
            <a href="#"><h2>E01 - The Departed (2006)</h2></a>
            <p>Scorsese's The Departed is one of the few examples of a remake done right.</p>
            <div class="like-comment-share">
                <div class="count">
                    <a href="#"><img src="./images/like 1.png" alt="Like"></a>
                    <h3>54</h3>
                </div>
                <div class="count">
                    <a href="#"><img src="./images/comment 1.png" alt="Comment"></a>
                    <h3>2</h3>
                </div>
                <button><img src="./images/share (1) 1.png" alt="Share"></button>
            </div>
        </div>
    </main>
    <footer>
        <a href="#"><h2>be a part.</h2></a>
    </footer>
</body>
</html>