* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  display: inline-block;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr;
  grid-template-rows: 15vh 75vh 10vh;
  grid-template-areas:
    "header"
    "main"
    "footer";
}

#root {
  height: 100%;
}

/*Header*/
header {
  grid-area: header;
  height: 15vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  height: 15vh;
  margin-left: 30px;
}
.right {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.left {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header a {
  margin: 1rem;
  margin-right: 3rem;
  font-family: "Oswald", sans-serif;
  color: #000;
}
.about {
  color: white;
  padding: 5px 10px;
  background: rgb(255, 1, 158);
  border-radius: 6px;
}

/*Main*/
.main-layout {
  grid-area: main;
  height: 75vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  overflow: scroll;
  overflow-x: hidden;
}
.thumbnail {
  height: 300px;
  border-radius: 5px;
}
.film-card h1 {
  color: #000;
  font-size: 25px;
  font-family: "Oswald", sans-serif;
}
.film-card h2 {
  color: #000;
  font-size: 20px;
  font-family: "Oswald", sans-serif;
  text-align: center;
  padding: 0px 10px;
}
.like-comment-share img {
  height: 20px;
}
.film-card {
  width: 227px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 30px 60px;
  padding: 20px 0px;
  box-shadow: 5px 10px 20px #888888;
  border-radius: 5px;
}
.film-card p {
  width: 200px;
  height: 55px;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 5px 0px;
  margin-bottom: 10px;
  text-align: justify;
  white-space: nowrap;
}
.like-comment-share {
  display: flex;
  width: 90%;
  justify-content: space-around;
  align-items: center;
}
.count {
  display: flex;
  width: 25%;
  justify-content: space-around;
  align-items: center;
}
.count h3 {
  font-family: "Oswald", sans-serif;
}
.like-comment-share button {
  background: none;
  border: none;
}

/*Footer*/
footer {
  height: 10vh;
  grid-area: footer;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
footer h2 {
  font-family: "Oswald", sans-serif;
  color: #000;
}

/*Episode page - main section*/
.episode-main-layout {
  height: 75vh;
  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-rows: 60% 40%;
  grid-template-areas:
    "video-container video-description"
    "more-episodes-container comments-section";
  overflow: scroll;
  overflow-x: hidden;
}
.video-container {
  grid-area: video-container;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.more-episodes-container {
  grid-area: more-episodes-container;
  margin-top: 50px;
}
.video-description {
  grid-area: video-description;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.video-description h1 {
  color: #000;
  font-size: 25px;
  font-family: "Oswald", sans-serif;
  text-align: left;
}
.video-description h2 {
  color: #000;
  font-size: 20px;
  font-family: "Oswald", sans-serif;
  text-align: center;
  padding: 0px 10px;
  text-align: left;
}
.video-description p {
  height: 55px;
  overflow: scroll;
  margin: 5px 0px;
  margin-bottom: 10px;
  text-align: justify;
  overflow-x: hidden;
}
.comments-section {
  grid-area: comments-section;
}
.more-episode-panel {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.more-episode-card {
  display: flex;
  flex-direction: column;
  width: 227px;
  justify-content: space-around;
  align-items: center;
  margin: 30px 60px;
  padding: 20px 0px;
  box-shadow: 5px 10px 20px #888888;
  border-radius: 5px;
}
.more-episode-card h1 {
  color: #000;
  font-size: 25px;
  font-family: "Oswald", sans-serif;
}
.more-episode-card h2 {
  color: #000;
  font-size: 20px;
  font-family: "Oswald", sans-serif;
  text-align: center;
  padding: 0px 10px;
}
.more-episodes-container > h2 {
  font-family: "Oswald", sans-serif;
  text-align: center;
  font-size: 48px;
}
